/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: #404042;
  letter-spacing: 1px;
  line-height: 18px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}
a:link,
a:visited {
  color: #000;
}
a:hover {
  color: #888;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}


/*
* Header
* * * * * * * * * * * * * * * * * * * */
#header {
  position: relative;
  margin-bottom: 60px;
}

#logo {
  text-align: center;
  padding-bottom: 20px;
}


/*
* Account Navigation
* * * * * * * * * * * * * * * * * * * */
#top-nav-bar {
  position: absolute;
  top: 0;
  right: 0;
}
nav#top-nav-bar ul li a {
  font-size: 11px;
  color: #888;
}


/*
* Main Navigation
* * * * * * * * * * * * * * * * * * * */
nav #main-nav-bar {
  text-transform: uppercase;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav #main-nav-bar li {
  position:relative;
  display:inline;
}
nav #main-nav-bar li a {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0px 10px;
}
/* nav #main-nav-bar li:first-child is defined by spree core.
   this is here to match it, */
nav #main-nav-bar li:nth-child(9) a {
  padding-right: 0px;
}
nav #main-nav-bar a {
  display: inline-block;
  padding: 10px;
}
nav #main-nav-bar ul {
  position:absolute;
  /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
  left:-9999px;
  margin:0;
  padding:0;
  text-align:left;
}
nav #main-nav-bar ul li {
  display:block;
}
nav #main-nav-bar li:hover ul {
  left:0;
}
nav #main-nav-bar li:hover ul a {
  text-decoration:none;
  background:none;
}
nav #main-nav-bar ul a {
  white-space:nowrap;
  display:block;
  border-bottom:1px solid #ccc;
}


/*
* Footer
* * * * * * * * * * * * * * * * * * * */
footer#footer {
  border: none;
}


/*
* Footer Navigation
* * * * * * * * * * * * * * * * * * * */
nav #footer-nav-bar {
  text-transform: uppercase;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav #footer-nav-bar li {
  position:relative;
  display:inline;
}
nav #footer-nav-bar li a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}
nav #footer-nav-bar li:first-child a {
  padding-left: 0;
}
nav #footer-nav-bar li:nth-child(4) a {
  padding-right: 0;
}
nav #footer-nav-bar a {
  display: inline-block;
  padding: 10px;
}
nav #footer-nav-bar ul {
  position:absolute;
  /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
  left:-9999px;
  margin:0;
  padding:0;
  text-align:left;
}
nav #footer-nav-bar ul li {
  display:block;
}
nav #footer-nav-bar li:hover ul {
  left:0;
}
nav #footer-nav-bar li:hover a {
  
}
nav #footer-nav-bar li:hover ul a {

}
nav #footer-nav-bar li:hover ul a:hover {

}
nav #footer-nav-bar ul a {
  white-space: nowrap;
  display: block;
}


/*
* Footer Navigation
* * * * * * * * * * * * * * * * * * * */
nav #social-nav-bar {
  text-transform: uppercase;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav #social-nav-bar li {
  position:relative;
  display:inline;
}
nav #social-nav-bar li a {
  font-size: 12px;
  font-weight: 400;
}
nav #social-nav-bar li:first-child a {
  padding-left: 0;
}
nav #social-nav-bar li:nth-child(5) a {
  padding-right: 0;
}
nav #social-nav-bar a {
  display: inline-block;
  padding: 10px;
}
nav #social-nav-bar ul {
  position:absolute;
  /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
  left:-9999px;
  margin:0;
  padding:0;
  text-align:left;
}
nav #social-nav-bar ul li {
  display:block;
}
nav #social-nav-bar li:hover ul {
  left:0;
}
nav #social-nav-bar li:hover a {
  
}
nav #social-nav-bar li:hover ul a {

}
nav #social-nav-bar li:hover ul a:hover {

}
nav #social-nav-bar ul a {
  white-space: nowrap;
  display: block;
}


/*
* Legal Navigation
* * * * * * * * * * * * * * * * * * * */
nav #legal-nav-bar {
  text-transform: uppercase;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav #legal-nav-bar li {
  position:relative;
  display:inline;
}
nav #legal-nav-bar li a {
  color: #888;
  font-size: 11px;
  font-weight: 400;
}
nav #legal-nav-bar li a:hover {
  color: #000;
}
nav #legal-nav-bar li:first-child a {
  padding-left: 0;
}
nav #legal-nav-bar li:nth-child(3) a {
  padding-right: 0;
}
nav #legal-nav-bar a {
  display: inline-block;
  padding: 10px;
}
nav #legal-nav-bar ul {
  position:absolute;
  /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
  left:-9999px;
  margin:0;
  padding:0;
  text-align:left;
}
nav #legal-nav-bar ul li {
  display:block;
}
nav #legal-nav-bar li:hover ul {
  left:0;
}
nav #legal-nav-bar li:hover a {
  
}
nav #legal-nav-bar li:hover ul a {

}
nav #legal-nav-bar li:hover ul a:hover {

}
nav #legal-nav-bar ul a {
  white-space: nowrap;
  display: block;
}


/*
* Page Titles
* * * * * * * * * * * * * * * * * * * */
h1.taxon-title,
h1[data-hook="checkout_title"] {
  color: #8f8f8f;
  font-size: 23px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}


/*
* Taxons
* * * * * * * * * * * * * * * * * * * */


/*
* Products
* * * * * * * * * * * * * * * * * * * */
ul#products li {
  font-weight: normal;
  margin-bottom: 70px;
  margin-top: 70px;
}
ul#products li .product-image {
  border: none;
  padding: 0;
}
ul#products li a.info {
  border-bottom: none;
}


/*
* Product
* * * * * * * * * * * * * * * * * * * */
#product-images #main-image {
  border: none;
  background-color: #000;
}
#product-description .product-title {
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#product-variants ul {
  list-style: none;
}
div[data-hook="description"] {
  line-height: 1.9;
  margin: 20px 0;
}


/*
* Cart
* * * * * * * * * * * * * * * * * * * */
div[data-hook="cart_container"] h1 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
span.price,
#checkout-summary table tr[data-hook="item_total"] td:last-child strong,
#checkout-summary table #summary-order-total, #order_details td.price span,
#order_details td.total span,
#order_summary td.price span,
#order_summary td.total span,
table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"],
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"],
div[data-hook="inside_cart_form"] #subtotal span.order-total {
  font-weight: inherit;
  color: inherit;
}
.cart-subtotal,
.cart-total {
  background-color: #D9D9DB;
  text-transform: uppercase;
}
.cart-subtotal td h5,
.cart-total td h5 {
  color: #000;
}
.progress-steps li.current-first,
.progress-steps li.current {
  background-color: #000;
  color: #FFF;
}
#billing legend,
#shipping legend,
#shipping_method legend,
#payment legend,
#order_details legend,
#order_summary legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding: 5px;
  margin-left: 15px;
}


/*
* Tables
* * * * * * * * * * * * * * * * * * * */
table tbody tr.alt,
table tbody tr.odd,
table tfoot tr.alt,
table tfoot tr.odd {
background-color: #f2f2f2;
}


/*
* Forms
* * * * * * * * * * * * * * * * * * * */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button {
  background-color: #000;
  background-image: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 900;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  border: none;
  padding: 6px 10px 5px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
input[type="submit"].large,
input[type="button"].large,
input[type="reset"].large,
button.large, a.button.large {
  padding: 10px 25px;
  font-size: 12px;
}
