<style type="text/css">
.announcement {
  display: block;
  position: relative;
}
.announcement h2 {
  line-height: 34px;
  padding: 15px;
  background: #ddd;
  text-align: center;
}
.announcement .button {
  display: inline-block;
  background: #444;
  color: #fff;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 34px;
  margin-left: 30px;
  padding: 0 1em;
}
</style>
  <a class="announcement" href="/products/mayweather">
      <h2>A New Floyd Mayweather Painting is in Progress! <span class="button">Check it out &nbsp; &rang;</span></h2>
  </a>

<% if Spree::Slide.published.count > 0 %>

  <div id="slider" class="idealSlider">
    <% Spree::Slide.published.order('position ASC').each do |s| %>
      <% if s.body != "" %>
        <%= image_tag('', :data => { :src => s.slide_image.url(:large), :caption => '#' + s.slide_name.to_url }) %>
      <% else %>
        <%= image_tag('', :data => { :src => s.slide_image.url(:large) }) %>
      <% end %>
    <% end %>
  </div>

  <% Spree::Slide.published.order('position ASC').each do |s| %>
    <div id="<%= s.slide_name.to_url %>" class="ideal-html-caption" style="display:none;">
      <%= raw s.body %>
    </div>
  <% end %>


  <script type="text/javascript">
  $(window).load(function() {
      var slider = new IdealImageSlider.Slider({
        selector: '#slider',
        height: 600,
        effect: 'fade',
        interval: 8000,
        transitionDuration: 2000
      });
      slider.addCaptions();
      //slider.addBulletNav();
      slider.start();
  });
  </script>
<% end %>
