<style type="text/css">
.announcement {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.announcement h2 {
  line-height: 34px;
  padding: 15px;
  background: #ddd;
  text-align: center;
}
.announcement .button {
  display: inline-block;
  background: #444;
  color: #fff;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 34px;
  margin-left: 30px;
  padding: 0 1em;
}
</style>

<div id="content" class="columns sixteen">
  
  <a class="announcement" href="/products/mayweather">
      <h2>A New Floyd Mayweather Painting is in Progress! <span class="button">Check it out &nbsp; &rang;</span></h2>
  </a>

  <% if Spree::Slide.published.count > 0 %>

    <ul id="slider" class="bxslider">
      <% Spree::Slide.published.order('position ASC').each do |s| %>
        
        <li>

          <% if s.body != "" %>
            <%= image_tag(s.slide_image.url(:large), :title => s.body) %>
          <% else %>
            <%= image_tag(s.slide_image.url(:large)) %>
          <% end %>

        </li>

      <% end %>
    </ul>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.bxslider').bxSlider({
          auto: true,
          autoHover: true,
          keyboardEnabled: true,
          //mode: 'fade',
          speed: 1000,
          pause: 7500,
          captions: true,
          pager: false
        });
      });
    </script>
  <% end %>
</div>